body{
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
}
h1{
    font-size: 50px;
}

.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
    text-align: center;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
}.about-me{
    background-image: url(shapes/7.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10px;
}
.flexible-containertittle{
    display: flex;
    justify-content: space-between;
    height: 40%;
    width: 40%;
    padding-left: 50px;
    padding-right: 400px;
    padding-top: 20px;
    margin: 2px;
    border-radius: 30px;
    box-shadow: 2px 2px 20px gray;
}



